<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main">
    <ion-label class="ion-margin">Click here to get started. In the browser console, you'll see an error that storage couldn't be destroyed because a transaction is in progress.</ion-label>
    <ion-button color="primary" (click)="createAndDestroyUI()">Create/Destory (Set)</ion-button>
  </div>

</ion-content>
